definitions:
  github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_dtos.ProductDto:
    properties:
      createdAt:
        type: string
      description:
        type: string
      name:
        type: string
      price:
        type: number
      productId:
        type: string
      updatedAt:
        type: string
    type: object
  ? github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_features_creatingproduct_dtos.CreateProductCommandResponse
  : properties:
      productId:
        type: string
    type: object
  ? github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_features_creatingproduct_dtos.CreateProductRequestDto
  : properties:
      description:
        minLength: 3
        type: string
      name:
        minLength: 3
        type: string
      price:
        type: number
    required:
    - description
    - name
    - price
    type: object
  ? github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_features_gettingproductbyid_dtos.GetProductByIdQueryResponse
  : properties:
      product:
        $ref: '#/definitions/github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_dtos.ProductDto'
    type: object
info:
  contact:
    name: Mehdi Hadeli
    url: https://github.com/mehdihadeli
  description: Catalogs Api.
  title: Catalogs Api
  version: "1.0"
paths:
  /api/v1/products:
    post:
      consumes:
      - application/json
      description: Create new product item
      parameters:
      - description: Product data
        in: body
        name: CreateProductRequestDto
        required: true
        schema:
          $ref: '#/definitions/github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_features_creatingproduct_dtos.CreateProductRequestDto'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_features_creatingproduct_dtos.CreateProductCommandResponse'
      summary: Create product
      tags:
      - Products
  /api/v1/products/{id}:
    get:
      consumes:
      - application/json
      description: Get product by id
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_mehdihadeli_go-vertical-slice-template_internal_catalogs_products_features_gettingproductbyid_dtos.GetProductByIdQueryResponse'
      summary: Get product
      tags:
      - Products
swagger: "2.0"
